*
  font-size: 14px
  font-family: "Segoe UI"
  color: #404040
  line-height: 20px

body
  background-color: #f1f1ff
  .App
    margin: 50px
    p
      max-width: 300px
    td
      vertical-align: text-top