@mixin focusPlaceholder()
  input:focus::-webkit-input-placeholder
    @content
  input:focus:-moz-placeholder
    @content
  input:focus::-moz-placeholder
    @content
  input:focus:-ms-input-placeholder
    @content
@mixin placeholder()
  input::-webkit-input-placeholder
    @content
  input:-moz-placeholder
    @content
  input::-moz-placeholder
    @content
  input:-ms-input-placeholder
    @content

@include focusPlaceholder()
  color: #d4d4d4

@include placeholder()
  color: #a0a0a0

.loader
  display: inline-block
  border: 3px solid transparent
  border-radius: 50%
  border-top: 3px solid #d9d9d9
  width: 5px
  height: 5px
  -webkit-animation: spin 2s linear infinite
  animation: spin 2s linear infinite
  margin: 5px 10px 0 5px

@-webkit-keyframes spin
  0%
    -webkit-transform: rotate(0deg)
  100%
    -webkit-transform: rotate(360deg)

@keyframes spin
  0%
    transform: rotate(0deg)
  100%
    transform: rotate(360deg)

.none
  display: none

.Autocomplete
  width: 390px
  height: 55px
  input
    overflow: hidden
    width: 300px
    height: 25px
    padding: 1px 0 0 4px
    z-index: 1
    outline: none
    border: 1px solid #b9b9b9
    &:hover
      border-top-color: #969696
    &:focus
      border: 2px solid #5199db !important
      padding: 0 0 0 3px
    &.error
      border: 2px solid red !important
      padding: 0 0 0 3px
  p.errorText
    color: red
    margin: 4px 0 0 0
  ul
    position: relative
    background-color: white
    border: 1px solid #e2e2e2
    width: 307px
    padding: 0
    margin-top: 1px
    z-index: 9999
    box-shadow: -1px 1px 10px rgba(0, 0, 0, 0.2)
    li
      list-style-type: none
      padding: 5px 0 5px 10px
      color: rgba(55, 55, 55, 0.51)
      &.shown
        font-size: smaller
        line-height: normal
    li.listItem
      @extend li
      cursor: pointer
      color: black
      &.hover
        background-color: #5993da
        color: white